
.import/FeelsBadMan.png-ae6a37227582a6da9926d118757d594c.md5
.import/FeelsBadMan.png-ae6a37227582a6da9926d118757d594c.stex
Sprites/AsepriteWorks/PracticeStuff/FeelsBadMan.aseprite
Sprites/AsepriteWorks/PracticeStuff/FeelsBadMan.png
Sprites/AsepriteWorks/PracticeStuff/FeelsBadMan.png.import
Sprites/AsepriteWorks/PracticeStuff/HiViz.aseprite
